<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868368339624-8lof7gkb8jv5572eqf08bor2b2m10d1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868368339624-8lof7gkb8jv5572eqf08bor2b2m10d1i</string>
	<key>API_KEY</key>
	<string>AIzaSyAg6GsiLIExYeXpQUPkLIiHyvS0uKe10VU</string>
	<key>GCM_SENDER_ID</key>
	<string>868368339624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dimitrijevolarevic.SwiftUI-Firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-swiftui-777a7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-swiftui-777a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868368339624:ios:536b91e9465cc8b4aaa89d</string>
</dict>
</plist>